.actionButtons {
  margin-right: 20px;
  width: 100px;
}

#inventoryCard {
  min-width: 64%;
}

#mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myInputs {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

@media (max-width: 900px) {
  #inventoryCard {
    min-width: 50%;
  }
}
