<div id="updateForm">
  <h1 id="updateInventoryTitle">Update Inventory</h1>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()" class="myForm">
    <div class="myInputs">
      <mat-form-field class="example-full-width">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="productName" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Product Price</mat-label>
        <input matInput formControlName="productPrice" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Current Amount</mat-label>
        <input matInput formControlName="currentAmount" />
      </mat-form-field>
    </div>

    <button
      type="button"
      class="actionButtons"
      mat-dialog-close
      mat-raised-button
      color="warn"
    >
      Cancel
    </button>
    <button
      type="submit"
      class="actionButtons"
      mat-raised-button
      color="primary"
      [disabled]="updateForm.invalid"
    >
      Update
    </button>
  </form>
</div>
